.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1120px;
}

.posts {
  margin: 5rem auto 0;
  max-width: 720px;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
      border-top: 1px solid var(--gray-700);
    }

    time {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--gray-300);
    }

    strong {
      display: block;
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 2rem;
      transition: color 0.2s ease-in-out;
    }

    p {
      margin-top: 0.5rem;
      line-height: 1.625rem;
      color: var(--gray-300)
    }

    &:hover strong {
      color: var(--yellow-500);
    }
  }
}