* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-700: #323238;
  --gray-800: #29292e;
  --blue-gray-850: #171724;
  --blue-gray-900: #13141f;
  --cyan-500: #61dafb;
  --purple-300: #6633cc;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--blue-gray-900);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-800);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple-300);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  color: var(--white);
  background: var(--blue-gray-900);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
